* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #6d1204; 
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    grid-row: 1; 
}

.logo img {
    width: 70px; 
    border-radius: 50%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

#logout-btn{
    border: solid 2px black;
}

.nav-links a:hover {
    color: #ffcc00; 
    background-color: rgb(0, 0, 0);
    padding: 2px;
    border: solid black;
}

main {
    height: 100%;
}

#Classes_Cards {
    border: solid;
    background-color: rgb(251, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    margin: 40px;
    padding: 20px;
    height: 90%;
}
.Students_List {
    border: solid;
    background-color: rgb(251, 250, 250);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 0;
    margin: 40px;
    padding: 20px;
    height: 90%;
}

#Classes_Cards #CCard,h3 {
    border: solid 1px;
}

#CCard {
    background-color: rgb(222, 221, 221);
    text-align: center;
    margin: 10px;
    width: 90%;
    height: 17em;
    display: flex; 
    flex-direction: column;
}

#Sections {
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px rgb(44, 163, 38) solid;
}

#Sections a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

#Section {
    background-color: rgb(210, 242, 242);
    width: 90%;
    border: 1px red solid;
}
body {
    background-color: rgb(151, 151, 151);
}

@media (min-width:500px ) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        
    }

    .nav-links {
        flex-direction: row;
    }
}